// 隣接セレクタ
// ある要素の次に出てくる要素に対してスタイルを適用する

ul {
    li {
        + li {
            border-bottom: 1px solid #666;
        }

        ~ li {
            color: "f000";
        }

        > li {
            background: #fff;
        }
    }
}

// 間接セレクタ
// 後ろに続く同階層のセレクタにスタイルを適用させる

// 直下セレクタ
// ある要素のすぐ直下にある要素のにスタイルを適用させる

