// 変数は数値や文字列などの値
// mixinではスタイルの集まり

@mixin roundBox {
    border-radius: 10px;
    background: #ededed;
    border: 1px solid #666;
}

.sideArea {
    @include roundBox;
}

.bottomArea {
    @include roundBox;
}